<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Presentation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  </head>
  <body>
    <!-- 3D Model Container -->
    <div id="container"></div>
    <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.169.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.169.0/examples/jsm/"
      }
    }
    </script>
    {% load static %}
    <script type="module" src="{% static 'scripts/index.js' %}"></script>
  </body>
</html>
